.contactEdit {
  width: 70%;
  height: 600px;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 40px;
  background-color: #fff;
}
.overlay {
  background-color: #131313;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.541);
}

.buttons {
  display: flex;
  justify-content: center;
}
